<br>


<div class=" row">

    <div class="col-md-5 " style="margin-left: 60px;">
      <h1 class="text-center" style="color: burlywood;">Stock_Product</h1>
      <div>
        <form  style="opacity: 0.9; " >
           <!--Searching product divition-->
  <div class=" " style="width: 98%;">
    <div class="form-group row" style="background-color: slateblue; margin-left: 2px; color: rgb(221, 190, 16);">
      <label  class="col-sm-2 col-form-label" style="font-size: 25px; color: white;">Search</label>
      <div class="col-sm-10">
        <input style="margin-top: 8px;" type="text" class="form-control"  (keyup)="onsearch(s)" placeholder="Search here...." #s >
      </div>
    </div>
  </div>
      <div data-spy="scroll" style="height: 330px;overflow:auto;opacity: 0.9;">
        <table class="table table-bordered table-dark " style="border: rgb(236, 226, 225) solid ;">
          <thead>
            <tr class="text-center" >
             
              <th scope="col">medi_Id</th>
              <th scope="col">Medi_Name</th>
              <th scope="col">Quentity</th>
              <th scope="col">Unit_Price</th>
              <th scope="col">Uses</th>
              <th scope="col" colspan="2">Action</th>
            
     
            </tr>
          </thead>
          <tbody >
            <tr  class="text-center" *ngFor="let p of products | filter:ser ; let i=index"  >
              
              <td>{{p.id}}</td>
              <td>{{p.name}}</td>
              <td>{{p.quentity}}</td>
              <td>{{p.price}}</td>
              <td>{{p.use}}</td>
             <td> <button  type="button" class="btn btn-danger" (click)="ondeletep(i)">Delet</button></td>
            <!-- <td> <a  class="text-warning" (click)="onedit(i)"><i class="far fa-trash-alt"></i></a></td>
              <td> <a  class="text-warning" (click)="onedit(i)"><i class="far fa-trash-alt"></i></a></td>
            -->
            </tr>
            <tr class="text-center">
              <th colspan="2">Total product</th>
              <th colspan="2">{{sumunit}} &nbsp; Units</th>
              <td colspan="2"> <button  type="button" class="btn btn-info" (click)="getunit()">Total_Unit</button></td>
       
            </tr>
 
          </tbody>
         
      </table>
      </div>
     
     
        </form>
        
         
        
      </div>
    </div>
    <div class="col-md-1"></div>
<!--sells table-->
<div class="col-md-5 ">
  <h1 class="text-center" style="color: crimson;">Sells_table</h1>
  <div>
    <form  style="opacity: 0.9;">

          <!--Searching sells divition-->
          <div class="form-group row" style="background-color: slateblue; margin-left: 2px; color: rgb(221, 190, 16); margin-left: -1px;width: 100%;">
            <label  class="col-sm-2 col-form-label" style="font-size: 25px;color: white;">Search</label>
            <div class="col-sm-10">
              <input style="margin-top: 6px;" type="text" class="form-control"  (keyup)="onsearchsels(sels)" placeholder="Search here...." #sels >
            </div>
          </div>
          <div data-spy="scroll" style="height: 330px;overflow:auto;opacity: 0.9;">
      <table class="table table-bordered table-dark " id="table" style="margin-top: 3px;">
        <thead>
          <tr class="text-center">
           
            <th scope="col">medi_Id</th>
            <th scope="col">Medi_Name</th>
            <th scope="col">Quentity</th>
            <th scope="col">Unit_Price</th>
            <th scope="col">Toal</th>
            <th scope="col">Action</th>
          
   
          </tr>
        </thead>
        <tbody id="tb" >
          <tr  class="text-center" *ngFor="let p of selproducts | filter:sel; let i=index"  >
         
            <td>{{p.id}}</td>
            <td>{{p.name}}</td>
            <td>{{p.quentity}}</td>
            <td>{{p.price}}</td>
            <td>{{p.total}}</td>
            
           <td> <button  type="button" class="btn btn-danger" (click)="ondelete(i)">Delet</button></td>
          <!-- <td> <a  class="text-warning" (click)="onedit(i)"><i class="far fa-trash-alt"></i></a></td>
            <td> <a  class="text-warning" (click)="onedit(i)"><i class="far fa-trash-alt"></i></a></td>
          -->
          </tr>
       
        <tr class="text-center" >
          <th colspan="3">Total Sells</th>
          <th colspan="2" > {{sumv}}&nbsp; Taka</th>
          <td> <button  type="button" class="btn btn-info" (click)="gettotal()">Grand_Total</button></td>
        </tr>

        </tbody>
    </table>
    </div>
    </form>
  </div>
</div>

 
</div>
<div class="bg-info">
  <form>
    
  </form>
 
</div>


