<div class="text-center">
  <h1 style="font-style: italic; color: coral;"><u>Welcome To The Pharmacy Management System!</u></h1>
</div>
<br>
<div class="container">
<div class="row">
 
  <div class="card  text-white" style="background-color:rgb(0, 0, 0); opacity: 0.8;">
    <img class="card-img" src="https://images.all-free-download.com/images/graphiclarge/medical_logo_188822.jpg" alt="Card image" height="450px">
    <div class="card-img-overlay">
      <h2 class="card-title">History:</h2>
      <p class="card-text" style="width: 40%;text-align: justify; color:beige;">This is a wider card with supporting text below
         as a natural lead-in to additional content.
          This content is a little bit longer.
          Our best-selling, award-winning makeup remover and face cleanser in one that instantly 
          melts virtually all makeup, removes impurities
           and gently exfoliates!
           as a natural lead-in to additional content.
           This content is a little bit longer.
         as a natural lead-in to additional content.
          This content is a little bit longer.
          Our best-selling, award-winning makeup remover and face cleanser in one that instantly 
          melts virtually all makeup, removes impurities
           and gently exfoliates!
           as a natural lead-in to additional content.
           This content is a little bit longer.
           Our best-selling, award-winning makeup remover and face cleanser in one that instantly 
           melts virtually all makeup, removes impurities
            and gently exfoliates!</p>
      
    </div>
  </div>


</div>
<br>

</div>

